{% extends 'base.html' %}
{% block title %}AboutUs{% endblock title %}
{% block body %}
<div class="d-grid gap-2">
  <button class="btn btn-primary " type="button">About_Us</button>
  
</div>
   <h1 class="head px-0 mx-2 my-3"> Welcome to [Job_Portal]</h1>
<p class="text px-0 mx-2 my-2">

At  job portal, we believe that finding the right job should be a seamless and empowering experience. <br>
    Our platform is designed to connect talented individuals with their dream opportunities while providing employers with the tools they need to build exceptional teams.

</p>
    <h3 class="head px-0 mx-2 my-3">Our Mission</h3>
    <p class="text px-0 mx-2 my-2">Our mission is to revolutionize the way people find and pursue their careers.<br>
        We are committed to creating a transparent and efficient job market where every individual has the opportunity to thrive professionally and every company can find the perfect match for their team.</p>
 
{% endblock body%}