{% extends 'base.html' %}
{% block title %}Candidatelogin{% endblock title %}
{% block body %}
<form method="post" action="/candidatelogin">
     {% csrf_token %}
  <div class="text text-center py-3 px-0">
            <h1> <b> Candidate_Login </b></h1>
        </div>
   
    <div class="container text-center ">
      <img src="/static/img/11.png">
        
    
     <div class="form-floating mb-3 py-3">
  <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
  <label for="email">Email address</label>
</div>
<div class="form-floating mb-3 py-3" >
  <input type="password" class="form-control" id="password" name="password" placeholder="Password">
  <label for="floatingPassword">Password</label>
    
    
        <div class="form-group px-0 my-3">
    <button type="submit" class="btn btn-primary">Login</button>
  </div>
  
</div>
    </div>
 

</form>

    
{% endblock body%}