{% extends 'base.html' %}
    {% block title %}Candidatesingup{% endblock title %}
    
 {% block body %}
     
<div class="text text-center py-3 px-0">
<h3>Candidate Singup</h3></div>
    <div class="container text-center   py-0 my-0 ">
        <img src="/static/img/13.png  " width="300" height="200">
    </div>
   
     <form method="post" action="/candidatelogin" >
         {% csrf_token %}
    <div class="cantainer py-0 px-5 mx-5 my-3">
  <div class="form-group">
    <label for="email" class="form-label"><b>Email</b></label>
    <input type="email" class="form-control" id="email" name="email" placeholder=name@example.com">
  </div>
         <div class="form-group">
    <label for="password" class="form-label"><b> Password</b></label>
    <input type="password" class="form-control" id="password" placeholder="@aA1245g3fg" name="password">
  </div>
  <div class="form-group">
    <label for="username" class="form-label"><b>User_Name </b></label>
    <input type="text" class="form-control" id="username" placeholder="IqbalHossain" name="username">
  </div>
         <div class="form-group">
    <label for="education" class="form-label"><b>Education</b> </label>
    <input type="text" class="form-control" id="education" name="education" placeholder="B.Sc. IN CSE">
  </div>
  <div class="form-group">
    <label for="institution" class="form-label"><b>Lastest Institution Name</b> </label>
    <input type="text" class="form-control" id="institution" placeholder=" Dhaka University" name="institution">
  </div>
         <div class="form-group">
    <label for="phone" class="form-label"><b>Phone_Number</b> </label>
    <input type="phone" class="form-control" id="phone" name="phone" placeholder="+880">
  </div>
  <div class="form-group">
    <label for="city" class="form-label" ><b>City</b></label>
    <select id="city" class="form-select" name="city">
      <option selected>Choose...</option>
      <option>Dhaka</option>
        <option>Khulna</option>
         <option>Barisal</option>
         <option>Chattogram</option>
        <option>Khulna</option>
         <option>Rajshahi</option>
         <option>Sylhet</option>
        <option>Mymensingh</option>
    </select>
      
      
        <div class="col-md-6 my-3">
            <p><b>Upload Your Cv Here With Proper Information</b></p>
  <input type="file" class="form-control" id="file" name="file">
  
</div>
      
      <div class="form-group px-0 my-3">
    <button type="submit" class="btn btn-primary">Submit From</button>
  </div>
  </div>
    </div>
</form>
     
 {% endblock body %}